@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lato-Regular";
  src: url("../public/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato-Bold";
  src: url("../public/Lato-Bold.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(20 184 166);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
